<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>预约</title>
</head>
<body>
<h1 th:align="center">请输入手机号码预约！</h1>
<form th:action="@{/orderprice}" th:object="${user}" method="post" th:align="center">
    <tr>
        <td>
            <input type="text" name="phoneNumber" value=""/>
            <input type="submit" value="预约"/>
        </td>
    </tr>
    <tr>
        <td>
            <span id="msg" th:text="${msg}" th:hidden="false"></span>
        </td>
    </tr>
</form>
<script>


    $(function(){
        var msg = document.getElementById("msg").innerText;
        if(msg!=""){
            alert(msg);
        }

    });
</script>
</body>
</html>